---
---

<!DOCTYPE HTML>
<html>
    <head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="icon" type="image/icon" href="/favicon.ico" />
    <title>a boy</title> 
    <link rel="stylesheet" type="text/css" href="css/styles.css">
<style>
body {
	color: #ff9922
}
div.content
{
border:1px solid orange;
}
#searchcontrol .gsc-control {
	width: 600px;
}
#searchcontrol{
	width:600px;
	float:left;
}
</style>
<script src="lib/polar.js"></script>
<script src="lib/marked.js"></script>
</head>

<body>
<div> <a href="/"><span style="font-size:24pt;color:#ff9900">⌂</span>a boy</a>
<span>曾经多少的痴心迷恋 只与爱情无关 </span></div>
<a href="#" onclick="var _s=document.body.style;_s.color='#CC8F22';_s.backgroundColor='#FFFFFF';" contenteditable>
----</a><br>
<nav><a href="https://github.com/a-boy/volcano">volcano</a> <a href="https://github.com/a-boy/playmath">playmath</a>  <a href="/rush">rush!</a> 
<a href="https://github.com/a-boy/play">play</a> <a href="https://github.com/a-boy/mi">《迷·黑客生活翼装飞行录》</a> <a href="/pingpong/">迷彩乒乓</a></nav>
<!-- <script async src="https://cse.google.com/cse.js?cx=012098598846403243334:vwk9oud8woe">
</script>
<div class="gcse-search"></div> -->

<p><span style="color:#cccc11">--Poem--</span></p>
<div id="ahmengPoem">
	♪<a href="https://github.com/a-boy/volcano">Volcano</a> - 阿蒙音乐诗歌游乐场--<br>
	→ <a href="/volcano/1%20%E7%BA%AF%E6%83%85%E4%B8%BB%E4%B9%89%E8%AF%97%E6%AD%8C19%E9%A6%96/chunqingzhuyi.html">[阿蒙诗歌习作第1辑] 纯情主义诗歌19首</a><br>
	→ <a href="/volcano/2%20坠入爱河的火星人/坠入爱河的火星人.docx">[阿蒙诗歌习作第2辑] 坠入爱河的火星人</a><br>
	→ <a href="/volcano/3%20%E9%9B%A8%E5%A4%9C%E7%9A%84%E6%98%9F%E8%BE%89/Starlight-in-the-Rainy-Night.html">[阿蒙诗歌习作第3辑] 雨夜的星辉</a><br>
	→ <a href="/volcano/0%E8%AF%97%E6%AD%8C%E4%B9%A0%E4%BD%9C/%E9%9D%A2%E5%90%91%E5%A4%A7%E6%B5%B7%E7%BC%96%E7%A8%8B.htm">面向大海编程</a><br>
	→ <a href="/volcano/4%20%E9%A3%9E%E7%BF%94%E7%9A%84%E6%B5%B7%E6%B2%99/FlyingSeasand.html">[阿蒙诗歌习作第4辑] 飞翔的海沙</a><br>
	→ <a href="/volcano/5%20%E6%98%9F%E6%B2%99%E6%A2%A6%E6%B3%AA/StarSandDreamTears.html">[阿蒙诗歌习作第5辑] 星沙梦泪</a><br>
</div>

<p><span style="color:#cccc11">--Posts--</span></p>
<div id="postList">
{% for post in site.posts %}
  - <a href="{{ post.url }}">{{ post.title }}</a> <span style="color:#aaa">{{ post.date | date: "%Y-%m-%d" }}</span><br/>
{% endfor %} 	
</div>

<p><span style="color:#cccc11">--Pages--</span></p>
<div id="pageList">{% for file in site.static_files %}
{% if file.extname == ".html" %}
  + <a href="{{ file.path }}">{{ file.path | replace_first: '/', '' }}</a><br/>
{% endif %}
{% endfor %}</div>

<div id="preview"></div>
<br><img src="album/QingchunMengxiang2018/IMG_20180309_132643.jpg" width="800" border="0" alt="20180309在湘江小河滩">
<br><img src="album/QingchunMengxiang2018/IMG_20180226_201950.jpg" width="800" border="0" alt="20180226在1片转角二楼 青春梦想 那时地铁还没有修好"><br>
<div id="links"><a href="https://qing.tk">纯情部落</a> <a href="https://2293.github.io/mathdemos/">MathDemos</a> 
	<a href="http://qun.qzone.qq.com/group#!/499866721/home">QQ群:火星人学习班</a> <span>499866721</span>
</div>
<audio height="32" src="boot.ogg" controls></audio>
<div id="footer">
<span>!"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~</span>
<br/>
<span>☼☽☾☿♀♁♂♃♄♅♆♇♈♉♊♋♌♍♎♏♐♑♒♓♔♕♖♗♘♙♚♛♜♝♞♟♠♡♢♣♤♥♦♧♨♩♪♫♬♭♮♯</span>
<br/>
<span>⭠⭡⭢⭣⭤⭥⭦⭧⭨⭩⭪⭫⭬⭭⭮⭯⭰⭱⭲⭳ ❶❷❸❹❺❻❼❽❾❿➀➁➂➃➄➅➆➇➈➉➊➋➌➍➎➏➐➑➒➓</span>
<br/>
<span style="color:#0f0">a boy</span> @2013→2025<br/>
</div>
<script async>
document.body.style.backgroundColor='#' + Math.floor(Math.random() * 0xffffff).toString(16).padStart(6, '0');
var poem=
'我们从亘古的神话中走来\n\
时光带我们去远方';
/*if(!prompt(poem,'..----')){
	$('a[href="#"]').click()
}*/
</script>
</body>
</html>
